<h1>Liste des tâches</h1>

<form #formTodo="ngForm" (ngSubmit)="onSubmit(formTodo)">
  <input type="text"
    name="message"
    ngModel
    required
    autofocus
    placeholder="Quoi faire...">
  <button type="submit">Créer une tâche</button>
</form>

<div class="todos">
  <div
    class="todo"
    [class.done]="todo.done"
    *ngFor="let todo of todos$ |async; index as i">

    <div *ngIf="!todo.editingMode">
      <input
        type="checkbox"
        [id]="'t-' + i"
        [ngModel]="todo.done"
        (change)="todo.done = !todo.done">
      <label [for]="'t-' + i">{{ todo.message }}</label>
    </div>

    <input *ngIf="todo.editingMode" type="text" [(ngModel)]="todo.message">

    <button (click)="onEdit(todo)">Edition</button>
    <button (click)="onDelete(todo.id)">Suppression</button>
  </div>
</div>