.card {
        margin-top: 10px;
        text-align: center;
        border: 1px solid;
        border-radius: 10px;
        width: 50vw;
        h3 {
          text-shadow: 1px 1px 0.5px #aaa;
        }
      }